.modal-container {
    padding: 20px;
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #e1e1e1;
  }
  
  .modal-body {
    padding-top: 20px;
  }
  
  .modal-container {
    width: 350px;
    height: 300px;
  }